.buttonsContainer {
    display: flex;
    gap: 24px;
}

.responseContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageContainer {
    margin-top: 30px;
}

.image {

}

.textContainer{
}

.code {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #000;
    margin-bottom: 12px;
}

/*.text {*/
/*    white-space: pre-line;*/
/*}*/
/*.info {*/
/*    white-space: pre-line;*/
/*}*/
